<%- include('partials/header') -%>

<h1 class="text-4xl">Hi</h1>

<% if (locals.isAuthenticated) { %>
    <p>You are logged in. <a href="/profile" class="underline">View your profile</a>.</p>
    <% if (locals.isLocalSignup) { %>
        <a href="/password/reset" class="underline">Reset my Password.</a>
    <% } %>
<% } else { %>
    <p>You are not logged in. <a href="/signin" class="underline">Login</a>.</p>
<% } %>

<%- include('partials/footer') -%>
