<!DOCTYPE html>
<html>
    <head>
        <style>
            .container {
                padding: 25px;
            }

            input {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
            }

            #message {
                display:none;
                background: #f1f1f1;
                color: #000;
                position: relative;
                padding: 20px;
                margin-top: 10px;
            }

            #message p {
                padding: 10px 35px;
                font-size: 18px;
            }

            /* Add a green text color and a checkmark when the requirements are right */
            .valid {
                color: green;
            }

            .valid:before {
                position: relative;
                left: -5px;
                content: "✔";
            }

            /* Add a red text color and an "x" when the requirements are wrong */
            .invalid {
                color: red;
            }

            .invalid:before {
                position: relative;
                left: -5px;
                content: "✖";
            }
        </style>
    </head>

    <body>
        <div class="container">
            <h1>Log In</h1>
    
            <% if(typeof alert != 'undefined') { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%= error.msg %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                        </button>
                    </div>
                <% }) %>
            <% } %>
    
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        name="password" 
                        id="password" 
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[$&+,:;=?@#|'<>.^*()%!-])(?=.*[A-Z]).{8,}" 
                        title="invalid password format"
                        required>
                </div>
                <div class="form-group">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <input 
                        type="password"
                        class="form-control"
                        name="confirm-password"
                        id="confirm-password"
                    >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    
            <div class="password-criteria">
                <h3>Password must contain the following:</h3>
                <p id="password-criteria-letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="password-criteria-capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="password-criteria-number" class="invalid">A <b>number</b></p>
                <p id="password-criteria-length" class="invalid">Minimum <b>8 characters</b></p>
                <p id="password-criteria-special" class="invalid">A <b>special</b> character</p>
                <p id="password-criteria-match" class="invalid">Both password matches</p>
            </div>
    
            <p class="lead mt-4">Don't have an account? <a href="/signup">Sign Up</a></p>

            <a href="/login/facebook" class="button">Log In With Facebook</a>
            <a href="/login/google" class="button">Log In With Google</a>
    
        </div>
    </body>

    <script>
    </script>
</html>
